.block {
  position:relative;
}

.block .box{
  width:auto;
  height:auto;
  padding:0;
  margin:0;
}

.block .block-container {
}

.block .border-color { }
.block .corner-color { }

.block .corner, .block .side {
  position:absolute;
}

.block .top    { top:0;    } 
.block .right  { right:0;  }
.block .bottom { bottom:0; }
.block .left   { left:0;   }

.block .corner { z-index:3; }
.block .side   { z-index:2; }

.block .corner.top.right,
.block .corner.bottom.right,
.block .corner.bottom.left,
.block .corner.top.left {
}

.block .side.top {
  width:100%;
  top:0;
}

.block .side.right {
  height:100%;
  top:0;
}

.block .side.bottom {
  width:100%;
}

.block .side.left {
  height:100%;
  top:0;
}
