/* SpeedySito Block Positions */

.speedysito-block-inline {
  display: inline-block;
}


.speedysito-block-float-left {
  float: left;
}

.speedysito-block-float-center {
  float: none;
  margin-left: auto !important;
  margin-right: auto !important;
  /*display: table;*/
  /*width: 100%;*/
  display: table; 
}

.speedysito-block-float-right {
  float: right;
}

.speedysito-block-float-clear {
  clear: both;
}
