

.speedysito-block-background-image-elegantgradient {
  /*background-image: url('block_backgrounds/block-gradient.png');*/
  background-image: url('block_backgrounds/lightblue-vertical-gradient.png');
  background-position: bottom left;
  background-repeat: repeat-x;
  /*bottom left repeat-x*/
/*  background-color: #ffffff; */
}

.speedysito-block-background-image-numeroverde {
  background-image: url('block_backgrounds/numeroverde2.png');
  background-position: top left;
  background-repeat: no-repeat;
  height: 50px;
  width: 150px;
}

.speedysito-block-background-image-numeroverde .box {
  margin-top: 12px !important;
  margin-left: 25px !important;
  font-size: 20px;
}

