/* INLINE */
.speedysito-menu-title-inline h2.block-title {
  display: inline;
}

.speedysito-menu-title-inline ul.menu {
  display: inline;
}


/* HIDDEN */
.speedysito-menu-title-hidden h2.block-title {
  display: none;
}
