/* SpeedySito Block Positions */

.speedysito-block-float-left {
  float: left;
}

.speedysito-block-float-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.speedysito-block-float-right {
  float: right;
}

.speedysito-block-float-clear {
  clear: both;
}
