/* SpeedySito Block Positions */

.speedysito-block-width-25 {
  width: 25%;
}

.speedysito-block-width-33 {
  width: 33.333333%;
}

.speedysito-block-width-50 {
  width: 50%;
}

.speedysito-block-width-66 {
  width: 66.66666666666%;
}

.speedysito-block-width-75 {
  width: 75%;
}

.speedysito-block-width-100 {
  width: 100%;
}
