
.speedysito-block-background-color-white {
  background-color: #FFFFFF;
}

.speedysito-block-background-color-green {
  background-color: #94CE18;
}

.speedysito-block-background-color-blue {
  background-color: #62ABDE;
}

.speedysito-block-background-color-orange {
  background-color: #FFA143;
}

.speedysito-block-background-color-black {
  background-color: #000000;
}
